body {
    background-color: #333;
    font-family: Verdana, Helvetica, Arial;
    font-size: 14px;
    margin: 0px;
}

textarea {
}

a img {
  border: none;
}

a {
  color: #333;
}
a:hover { 
color: #999;
}
a:active {
color: black;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  height: 90%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 3px black;
  margin-top: 20px;
}

#logo {
   background: #E1EFBB url('/images/socialis-logo.png') no-repeat bottom right;
}

#status {
   width: 700px;
   padding: 2px;
   background-color: #777;
   text-decoration:none;
   color: white;
   font-weight: bold;
   border-style: solid;
   border-color: black;
   border-width:1px;
   border-radius: 6px;
   margin: 3px;
}

#share-box {
width:400px;
height: 26px;
border-radius: 25px;
background-color: #FFF;
border-color: #000;
}

#user {
   width: 200px;
   padding: 2px;
   background-color: #3B5998;
   text-decoration:none;
   color: white;
   font-weight: bold;
   border-style: solid;
   border-color: black;
   border-width:1px;
   border-radius: 6px;
   margin: 5px;
}

#profilebox {
	float:none;
	border: solid 2px lime;
	background-color: #CFC;
	padding:10px;
	margin: 10px;
}
#profilebox img{
	border:solid 1px black;
	background-color: white;
	padding: 4px;
	border-radius: 4px;
}

#user-image img{
	border:solid 1px black;
	background-color: white;
	padding: 4px;
	margin: 5px;
	border-radius: 4px;
}

#menu {
   margin: 10px;
}
.menu {
   padding: 2px;
   background-color: #3B5998;
   text-decoration:none;
   color: white;
   font-size: 20px;
   border-style: solid;
   border-color: black;
   border-width:1px;
   height: 40px;
   border-radius: 6px;
}
.menu:hover {
   background-color: #4B7399;
   color: white;
}
.menu:active {
   background-color: #4B7388;
   color: white;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

