%h1 About Socialis
%h3 Created By: Cyber
%h2 About this install:
%h3 This install is running, #{socialis_version}
%h2 Socialis Stats:
%h3 There are #{@status.length} Statuses Currently
%h3 There are #{@users.length} Registered Users Total