%h1 About Socialis
%h3 Socialis is a micro Social Network
%h3 Created By: Cyber
%h2 About this install:
%h3 This install is running, #{socialis_version}
%h2 Socialis Stats:
%h3 There are <a href="/statuses">#{@status.length}</a> Statuses Currently
%h3 There are <a href="/users">#{@users.length}</a> Registered Users Total
