- title "Help"

%h1 Need Help With Socialis?
%h2 Q&amp;A
%h3 Q: How do I change my profile picture?
%p A: We use <a href="http://gravatar.com">gravatar.com</a> for profile pictures.
- if logged_in?
 (Just sign-up at Gravatar.com with email: #{current_user.email})
%h3 Q: How do I delete my account?
%p A: Contact site Admin.
%h3 Q: How do I delete my status update?
%p A: Visit your statuses page. e.g. #{request.host}/status/G
